body{color: #333;background:#fff !important;}
table { width:100%;}
/*td { border:1px solid #ccc;}*/
ul{	margin: 0;padding: 0 0 0 20px;}
p{margin: 0 0 10px 0;}
.text-right { text-align:right;}
.text-center { text-align:center;}
h4{margin: 0 0 10px;}
@font-face {font-family: Aller_Rg; src: url(fonts/Aller_Rg.ttf);}
@font-face {font-family: Aller_It; src: url(fonts/Aller_It.ttf);}

.accordion *:focus{
	outline: 0;
	text-decoration: none;
}
/* ---------------------------------

		A C C O R D I A N

--------------------------------- */
.accordion img{
	border: solid 1px #ccc;
	border-radius: 10px;
}
.accordion .eventimg{
	margin-right: 15px;
	float: left;
}
.accordion p{
	/*display: inline-block;*/
}
.accordion{
	border-radius: 10px;
	overflow: hidden;
	border: 3px solid #211D70;
	max-width: 100%;
	padding: 0px;
	margin: 20px 10px;
}

.accordion-panel__heading{
	position: relative;
	padding: 20px;
	display: block;
	text-decoration: none;
	letter-spacing: 2px;
	color: #211D70;
	background: rgba(33, 29, 112, 0.05);
	font-size: 12px;
	font-weight: 600;
	border-bottom: 1px solid #211D70;
	transition: all .3s;
	cursor:pointer;
}
.accordion-panel__heading:before{
	transition: all .3s ease;
	content: "";
	border: 0px;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
}
.accordion-panel__heading.active:before{
	transition: all .3s .3s;
	border-left: 15px #211D70 solid;
	border: 0px 0px 0px 15px;
}
.accordion-panel__heading:HOVER{
	color: #333;
	background: rgba(33, 29, 112, 0.15);
	transition: all .3s;
	text-decoration: none;
}
.accordion-panel__heading.active:HOVER,
.accordion-panel__heading.active {
	transition: all .3s;
	color: #333;
	background: #fff;
	border-bottom: 0;
	padding: 20px 20px 20px 40px;
	text-decoration: none;
}
.accordion-panel__content{
	transition: all .3s;
	position: relative;
	padding: 0 20px 0 20px;
	background: #f1f1f1;
    max-height: 0;
    overflow: hidden;
}
.accordion-panel__content:before{
	transition: all .3s ease;
	content: "";
	border: 0px #211D70 solid;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
}
.accordion-panel__content.active:before{
	transition: all .3s .3s;
	border-left: 15px #211D70 solid;
}
.accordion-panel__content.active {
	transition: all .3s;
	max-height: 2500px;
    background: #fff;
    padding: 10px 20px 15px 40px;
}
.articledate{
	font-family: Aller_It;
}
.accordion-panel__content div.row div{
	margin-top: 10px;
	text-align: center;
}
.year{
	font-family: Aller_Rg;
	font-weight: bolder;
	font-size: 20px;
}
.accordion a:visited{
	text-decoration: none;
}
.thisyear{
	position: relative;
	padding: 20px;
	display: block;
	text-decoration: none;
	letter-spacing: 2px;
	color: white;
	background: #211D70;
	font-size: 12px;
	font-weight: 600;
	border-bottom: 1px solid #211D70;
	text-align: center;
}
.x{
	display: none;
}